/vendor
/node_modules
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitkeep
/public/storage
/public/hot
/bootstrap/cache/*.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
/public/build
